.order{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 20px;
}
.order-summary{
    display: flex;
    flex: 1;
    gap: 20px;
}
.order-action{
    display: flex;
    flex: 1;
    background-color: green;
}
.order-table{
    display: flex;
    flex: 9;
    background-color: cyan;
}

