.dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.dashboard-summary{
    display: flex;
    gap: 20px;
}

.dashboard-card-summary{
    display: flex;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap; 
}
.dashboard-graph-summary{
    display: flex;
    flex: 2;
    height: 430px;
    color: var(--color-dark);
    background-color: var(--color-background);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
}
.dashboard-table-pie{
    display: flex;
    flex: 1;
    gap: 20px;
}
.dashboard-table{
    display: flex;
    flex: 3;
    border-radius: var(--border-radius-1);
    padding: 20px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-background);
}
.dashboard-pie{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 300px;
    gap: 20px;

}

