.dashboard{
    display: flex;
    flex-direction: column;
}
.summary{
    flex: 1;
    display: flex;
    gap: 30px;
    padding: 20px; 
}
.charts{
    display: flex;
    gap:30px;
    padding: 20px;
}
.line{
    flex: 6;
    background-color: var(--color-background);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    border-radius:var(--card-border-radius);
}
.heading{
    margin-left: 4.8rem;
}
.heading p {
    color: var(--color-info-dark);
    margin-top: 5px;
}
.pie{
    flex:2;
    height: 600px;
    box-shadow: var(--box-shadow);
}
