.order{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 20px;
}
.order-summary{
    display: flex;
    flex: 1;
    gap: 20px;
}
.order-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
}
.order-table{
    display: flex;
    flex: 15;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
}

