.summary-card{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius:7px;
    padding: 20px;
    /* width:180px; */
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.summary-card:hover{
 box-shadow: none;
 transform: translateY(-3px);
}
.summary-card .detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.summary-card .detail span{
    font-size: 1.5rem;
}

.summary-card .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    padding:15px;
    border-radius: 50%;
    
}